.order-list-wrapper {
	margin-top: 6px;
	display: flex;
	justify-content: space-between;
}
.order-list-item-label {
	font-size: 20px;
	cursor: pointer;
	user-select: none;
}
.ico {
	width: 4em;
	height: 3.5em;
	margin: 2px;
}